.home {
  background-color: white;
  color: white;
  // position: absolute;
  // width: 100%;
  // bottom: 100px;
  // height: calc(100vh - 170px);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  p {
    // margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    // font-weight: bold;
    font-size: 16px;
  }
  h3 {
    color: $navbar-grey;
  }
}

